@import 'base/animations';
@import 'base/fonts';
@import 'base/variables';
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/carousel';
@import 'blocks/catalog-item';
@import 'blocks/catalog';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/review';

* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}