.modal {
  margin: auto;
  background-color: #f2f2f2;
  border: none;
  overflow: visible;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
  &__wrapper {
    padding: 40px;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -40px;
    color: $main_color;
    font-size: 40px;
    user-select: none;
  }
  &__subtitle {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: #0d0d0d;
  }
  &__descr {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #0d0d0d;
  }
  .error {
    font-size: 14px;
    color: red;
    border: 1px solid red;
  }
  label.error {
    border: none;
    margin-bottom: 15px;
  }
}
