.review {
    margin-bottom: 48px;
    &__title {
        color: #0d0d0d;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &__item {
        display: flex;
        margin-top: 60px;
    }
    &__img {
        height: 169px;
        width: 169px;
        border-radius: 100%;
        margin-right: 61px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
    }
    &__experience {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #0d0d0d;
        line-height: 24px;
        margin-top: 10px;
    }
}